.sponsorCard {
    border: none;
    width: 25%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: 2%;
    overflow: hidden;
    cursor: pointer;
}
  
@media screen and (max-width:600px) {
  .sponsorCard{
      width:50%;
  }
}

/* .sponsorCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.sponsorCard .card-img {
  margin: auto;
  background-color: white;
}

.sponsorCard img{
  max-width: 100%;
  max-height: 100%;
}

.sponsorName{
  width:100%;
  text-align:center;
}

.goldSponsor:hover {
    background-color: gold;
}

.silverSponsor:hover {
    background-color: silver;
}

.bronzeSponsor:hover {
    background-color: #cd7f32;
}

.diamondSponsor:hover {
  background-color: #b9f2ff;
}


.diamondSponsor {
  margin-inline: 7vh;
}

.goldSponsor .card-title {
    font-weight: bold;
}

.medal {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .gold {
    color: gold;
  }
  
  .silver {
    color: silver;
  }
  
  .bronze {
    color: #cd7f32;
  }
  
  .diamond {
    color: #b9f2ff;
  }