.footer a:link {
    text-decoration: none;
    color: inherit;
}

.footer a:visited {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: none;
    color: inherit;
}

.footer a:active {
    text-decoration: none;
    color: inherit;
}

.container #upper-part {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

#about-fuel-fighter {
    width: 440px;
}

.sosials .links {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    color: var(--secondary-color);
    margin-top: 10px;
}

.sosials .links a {
    color: aliceblue;
}

.logo {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
}

#navigasjon {
    width: 250px;
    margin-left: 90px;
    padding-left: 10px;
    border-left: 2px solid var(--gosthWhite);
}

#navigasjon h2 {
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
    margin-left: 30px;
}

.navigasjon {
    color: var(--secondary-color);
    /* margin-left: 60px; */
}

.navigasjon a {
    color: aliceblue;
}

#information {
    width: 250px;
    margin-left: 90px;
    padding-left: 10px;
    border-left: 2px solid var(--gosthWhite);
}


.adresse {
    color: aliceblue;
    margin-left: 45px;
}

.adresse h2 {
    font-family: 'Roboto-BlackItalic';
}

#information {
    color: var(--secondary-color);
}

.contact a {
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
    text-align: left;
    font-size: x-large;
    margin-left: 14px;
}

.contact {
    margin-top: 20px;
}

.contact li {
    color: var(--secondary-color);
}

.text {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    color: aliceblue;
    text-align: center;
}