.header {
    background-color: var(--blue);
    color: var(--green);
}

.header .containerHead {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
}

.header ul {
    align-items: center;
}

.header li {
    padding: 0 1rem;
    vertical-align: middle;
}

.header a {
    color: var(--green);
}

.header a:link { text-decoration: none; }
.header a:visited { text-decoration: none; }
.header a:hover { text-decoration: none; }
.header a:active { text-decoration: none; }

.header img{
    height: 2.5rem;
    vertical-align: middle;
}

