.headerLinks{
    cursor: pointer;
}

.headerLinks:hover {
    opacity: 0.8;
    font-weight: bold;
}

.headerLinkSocial:hover{
    color: var(--ghostBlue);
}

.navbar-toggler-icon{
    /*White Burger Image*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.headearNabsLinks{
    margin-left: 1%;
    color: fuchsia;
}

.nav-link-page-width{
    min-width: fit-content;
    width: 80px;
    text-align: center;
}

.car{
    display: none;
    opacity: 1;
    font-size: medium;
}

.join_animation {

}
