.container #upper-part {
    display: flex;
    flex-direction: row;
}


.sosials p {
    color: aliceblue;
    display: flex;
    margin-left: 40px;
}

.sosials .links {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    color: var(--secondary-color);
}

.sosials .links a {
    color: aliceblue;
}

.logo {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
}

#navigasjon h2 {
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
    margin-left: 40px;
}

.navigasjon {
    color: var(--secondary-color);
}

.navigasjon a {
    color: aliceblue;
}

.adresse {
    color: aliceblue;
    margin-left: 45px;
}

.adresse h2 {
    font-family: 'Roboto-BlackItalic';
}

#information {
    color: var(--secondary-color);
}

.contact a {
    color: aliceblue;
    font-family: 'Roboto-BlackItalic';
}

.text {
    display: flex;
    flex-direction: column-reverse;
    color: aliceblue;
    text-align: center;
}