.blogPreview{
    border-left: 10px solid var(--blue);
    margin-inline: 10%;
    color: var(--primary-color);
    padding: 2%;

    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.blogPreview h2{
    font-family: 'Roboto-BlackItalic';
    color: var(--primary-color);
}


.blogPreview .inside img{
    width:100%;
    height: 100%;
    object-fit:scale-down;
    overflow: hidden;
}

.fadeInAnimation{
    animation: fade-inIMG 0.5s;
}

@keyframes fade-inIMG {
    0% {
        opacity: 0;
        translate: 200% 0;
    }

    100% {
        opacity: 1;
        translate: 0;
    }
}


.blogPreview #inside{
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.articleViewHome{
    width: 50%;
    padding: 1%;
    margin-left: 1.7%;
    overflow: hidden;
}
.articleViewHome h2{
    height: 5rem;
    text-align:center;
    margin:auto;
}

.articleViewHome .dateArticle{
    font-family: Roboto-Italic;
    text-align: end;
    margin:auto;
}

.articleViewHome p{
    text-align:justify;
    margin:auto;
}

.blogPreview .buttons{
    font-size: 4rem;
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}


#selectedBullet{
    opacity: 1;
}

.bi.bi-dot{
    opacity: 0.4;
}