.homeContainer {
    display: grid;
    grid-template-rows: [first] 90vh [about] 190vh;
    grid-template-columns: [all] 100%;
}

.homeContainer .homeFirst {
    grid-row: first;
    margin: 0;
    height: 100%;
}

.homeContainer .homeFirst video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.homeContainer .homeFirst .homeTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    font-family: RobotoBlack;
    color: var(--primary-color);
    text-shadow: 2px 2px 2px var(--blue);
}

.homeContainer .homeAbout {
    grid-row: about;
    grid-column: all;

    background-color: rgb(5, 8, 15);
    display: grid;
    grid-template-columns: [white] 5% [element] 90% [white] 5%;
    grid-row-gap: 4%;
    padding: 4% 0;
}

.homeContainer .homeAbout #homeSection {
    border-radius: 0px;
    grid-column: element;
    display: grid;
    font-family: 'Roboto-BlackItalic';
    grid-template-columns: [text] 55% [img] 45%;
}

.homeContainer .homeAbout #homeSectionInverted {
    border-radius: 0px;
    grid-column: element;
    background-color: var;
    display: grid;
    font-family: 'Roboto-BlackItalic';
    grid-template-columns: [text] 55% [img] 45%;
}

.homeContainer .homeAbout .testoHomeSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
    justify-content: center;
}

.homeContainer .homeAbout .testoHomeSections p {
    color: aliceblue;
    font-family: 'Roboto-Light';
}

.homeContainer .homeAbout .valuesImgContainer {
    border-radius: inherit;
}

#imgHomeAbout {
    border-end-end-radius: inherit;
    border-start-end-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#imgHomeAboutInv {
    border-end-start-radius: inherit;
    border-start-start-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}