.homeContainer .applyField #apply {
    border-radius: 0px;
    grid-column: element;
    display: grid;
    font-family: 'Roboto-BlackItalic';
    padding: 4%;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
}

.homeContainer .applyField #apply-button {
    display: flex;
    flex-direction: column;
    grid-column: element;
    font-family: 'Roboto-BlackItalic';
    font-size: large;
}

.homeContainer .applyField .button-suggested-action {
    background-color: #011a2c;
    background-image: linear-gradient(180deg, #05253b, #011a2c);
    border-color: #03111b;
    color: #fff;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    margin-left: 64px;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    text-align: center;
    font-family: 'Roboto-Light';
    width: 15%;
    text-decoration: none;
}

.homeContainer .applyField {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: [white] 5% [element] 90% [white] 5%;
}

.homeContainer .applyField .applyText {
    color: aliceblue;
    font-family: 'Roboto-Light';
}

.homeContainer .applyField .applyText h1 {
    font-family: 'Roboto-BlackItalic';
    text-align: justify;
}


#imgHomeAbout {
    border-end-end-radius: inherit;
    border-start-end-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#imgHomeAboutInv {
    border-end-start-radius: inherit;
    border-start-start-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.fuelfighter-logo {
    position: relative;
    top: -7%;
}

@media screen and (max-width: 600px) {
    .homeContainer .applyField .button-suggested-action {
        width: 40%;
    }
}