.homeContainer {
    display: grid;
    grid-template-rows: [first] 100vh [about] 190vh;
    grid-template-columns: [all] 100%;
}

.homeContainer .homeAbout {
    grid-row: about;
    grid-column: all;

    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: [white] 5% [element] 90% [white] 5%;
    grid-row-gap: 4%;
    padding: 4% 0;
}

.homeContainer .homeAbout #homeSection {
    border-radius: 0px;
    grid-column: element;
    display: grid;
    font-family: 'Roboto-BlackItalic';
    grid-template-columns: [text] 55% [img] 45%;
}

.homeContainer .homeAbout #homeSectionInverted {
    border-radius: 0px;
    grid-column: element;
    background-color: var;
    display: grid;
    font-family: 'Roboto-BlackItalic';
    grid-template-columns: [text] 55% [img] 45%;
}

.homeContainer .homeAbout .testoHomeSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
    justify-content: center;
}

.homeContainer .homeAbout .testoHomeSections p {
    color: aliceblue;
    font-family: 'Roboto-Light';
}

.homeContainer .homeAbout .valuesImgContainer {
    border-radius: inherit;
}

#imgHomeAbout {
    border-end-end-radius: inherit;
    border-start-end-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#imgHomeAboutInv {
    border-end-start-radius: inherit;
    border-start-start-radius: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
}