.teamTitle {
  	margin: 40px 0 20px 0;
	color: #333;
	font-family: open sans,Helvetica,sans-serif;
	font-weight: 300;
	font-size: 2.3em;
}

.teamSection {
    width: 100%;
    background-color: var(--blue);
    display: block;
    position: static;
    padding: 2.5%;

}

.TeamsWrap {
min-height: 500px;
background-color: var(--white);

height: auto;
min-height: 500px;


}

.teamBox {
    background-color: var(--white);
    border-radius: 10px;
    text-align: center;
    width: 80%;
    float: right;
    display: fixed;
    height: 50%;   
    /* height: auto;  */
    margin-right: 2.5%;

    font-size: 120%;
    font-weight:600;


    word-spacing: 100px;
    overflow: hidden;
    /* margin-top: 1%;
    margin-bottom: 1%; */
    margin-left: auto;

    padding: 1% 1%;

    
}

.yearBox {
    background-color: var(--white);
    border-radius: 10px;
    text-align: center;
    margin-right: 50px;
    width: 10%;
    float: left;
    /* display: fixed; */
    height: 200px;
    
    margin-left: 2.5%;
    /* display: block; */
    font-weight:600;
    font-size: 130%;
    color: var(--black);
    padding: 1% 0;
    display:grid;
    
}  

.teamYearContainer {
    height: 15%;
    overflow: hidden;
    display: flex;
    padding: 0.25%;
}

.yearBox a {
    width: 50%;
    margin: auto;
    padding: 50px, 0;
    align-self: center;



}

.teamBox a {
    padding: 50px, 0;
    color: var(--black);

}

.teamBox a:hover {
    color: var(--blue) !important;
    cursor: pointer;
}

.yearBox a:hover {
    color: var(--blue) !important;
    cursor: pointer;
}



.yearTitle {
    text-align: center;
    padding-top: 4%;
}

#center1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    min-height: auto;
    

/* Remove this */
}