:root {
  --blue: #222f5c;
  --white: #ffffff;
  --green: #9BCBA7;
  font-size: 1.4vw;
}

body {
  margin: 0;
  font-family: 'Roboto-Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
