
#contact-us-container{
    display: grid;
    border: 1px solid;
    border-width: 3px;
    border-radius: 7px;
    margin: 0 auto; 
}

#contact-us-row{
    color: aliceblue;
    text-align: center;
}

#leader-contact-info{
    color: aliceblue;
    font-size: large;
    font-family: "Roboto-Light";
    border:  1px solid;
    border-width: 3px
    
}


#adress-info{
    color: aliceblue;
    font-size: large;
    font-family: "Roboto-Light";
    border:  1px solid;
    border-width: 3px;
    text-align: center;
    padding: 2%;
    background-color: rgb(30, 30, 38);
}

#general-details{
    color:aliceblue;
    font-family: "Roboto-MediumItalic";
    text-align: left;  
}


.contact-details{
    padding-top: 2%;
    padding-inline-start: 3%;
}


#pic-col, #cont-col, #adr-col, #map-col{
    text-align: left;
}

#map-col{
    text-align: center;
    padding: 2%;
}



  




