
#contact-us-container{
    display: grid;
    border: 1px solid;
    border-color: white;
    border-width: 3px;
    border-radius: 7px;
    margin: 0 auto; 
}

#contact-us-row{
    color: aliceblue;
    text-align: center;
}

#leader-info{
    color: aliceblue;
    font-size: large;
    font-family: "Roboto-Light";
    border:  1px solid;
    border-color: aqua;
    border-width: 3px;
}

#adress-info{
    color: aliceblue;
    font-size: large;
    font-family: "Roboto-Light";
    border:  1px solid;
    border-color: red;
    border-width: 3px;
}

#pic-col, #cont-col, #adr-col, #map-col{
    text-align: left;
}
  




