#maincont{
    border-style: solid;
    border-color: red;
}

#row1{
    border-style: solid;
    border-color: lightblue;
    color: green;
}
#col1{
    border-style: solid;
    border-color: green;
    color: white;
    
}