

#teamContainer{
    border-style: solid;
    border-color: red;
}

#row1{
    border-style: solid;
    border-color: lightblue;
    color: green;
}
#chooseGroupButton{
    /* border-style: solid;
    border-color: green; */
    color: white;
    text-align: center;
}

#chooseGroupButtonText{
    font-size:1.35em ;
    font-family: 'Roboto-Light';
}
#teamGroupRow{
    padding-bottom: 3%;
}

#teamTitleRow{
    border-style: solid;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 6%;
}
#teamTitleText{
    font-size: 5em;
    font-family: 'Roboto-Bold';
}
#teamdescriptionRow{
    border-style: solid;
    border-color: green;
    color: white;
    text-align: center;
}
#teamPicturesRow{
    justify-content: center;
    text-align: center;
    color: white;
}