.teamMain {
    height: 100%;
    width: 100%;

}

.teamSection {
    width: 100%;
    background-color: grey;
    display: block;
    position: static;

}

.teamSection:nth-of-type(1) {
    height: 90vh;
    background-color: rgb(167, 167, 167);

}

.teamSection:nth-of-type(2) {
    height: auto;
    background-color: var(--blue);

}

#center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    min-height: 500px;

}